<h2>Tabla HTTP</h2>
<div class="content-table">
  <table class="table table-striped" [mfData]="consulta" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder">
    <thead>
      <tr>
      </tr>
      <tr>
        <th class="text-center">
          <mfDefaultSorter by="gender">Género</mfDefaultSorter>
        </th>
        <th class="text-center">
          <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
        </th>
        <th class="text-center">
          <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
        </th>
        <th class="text-center">
          <mfDefaultSorter by="phone">Teléfono</mfDefaultSorter>
        </th>
        <th class="text-center">
          <mfDefaultSorter by="email">Email</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of consulta">
        <td class="text-center">{{item.gender}}</td>
        <td class="text-center">{{item.name.first}}</td>
        <td class="text-center">{{item.name.last}}</td>
        <td class="text-center">{{item.phone}}</td>
        <td class="text-center">{{item.email}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <mfBootstrapPaginator [rowsOnPageSet]="['5,10,20']"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>