@import "~@angular/material/theming"


html, body
    height: 100%
body 
    margin: 0 
    font-family: Roboto, "Helvetica Neue", sans-serif
@include mat-core()

$primary: mat-palette($mat-red)
$accent:  mat-palette($mat-pink, A200, A100, A400)

$theme: mat-light-theme($primary, $accent)

@include angular-material-theme($theme)
.theme
    $dark-primary: mat-palette($mat-indigo, 700, 500, 900)
    $dark-accent:  mat-palette($mat-deep-orange, A200, A100, A400)
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent)
    @include angular-material-theme($dark-theme)


