<mat-card class="card">
  <mat-card-title>Create Patient</mat-card-title>
  <form class="container" [formGroup]="patientFormGroup">
    <ng-template matStepLabel>General Data</ng-template>
    <div class="row">
      <mat-form-field>
        <input id="name" matInput placeholder="Name" [(ngModel)]='patient.name' formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input id="age" matInput placeholder="Age" [(ngModel)]='patient.age' formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input id="genders" matInput placeholder="Gender" [(ngModel)]='patient.gender' formControlName="firstCtrl"
          required>
      </mat-form-field>
      <mat-form-field>
        <input id="identificacionNumber" matInput placeholder="Identification number" [(ngModel)]='patient.idNumber'
          formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input id="email" matInput type="email" placeholder="Email" [(ngModel)]='patient.email' formControlName="email"
          [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="patientFormGroup.hasError('email') && !patientFormGroup.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input id="cellPhone" matInput placeholder="Cellphone" [(ngModel)]='patient.cellphone'
          formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button id="sendButton" mat-button color="primary" (click)='sendData()' >Send</button>
      </div>
    </div>
  </form>
</mat-card>

<app-view-list  [title]="title"></app-view-list>