.container 
    display: flex
    flex-direction: column
    padding: 20px
    text-align: center


.container>* 
    width: 100%


.container form 
    margin-bottom: 20px


.container form>* 
    margin: 5px 0


.container 
    .mat-radio-button 
        margin: 0 12px


.mat-form-field 
    margin: 20px


h1 
    text-align: center


.full-width 
    width: 100%


.middle-width 
    width: 40%


.card 
    margin: 15px

#sendButton
    background-color: red
    color: white
    -webkit-animation-name: changeColor
    -webkit-animation-duration: 10s 
    animation-name: changeColor
    animation-duration: 10s


@-webkit-keyframes changeColor 
    0%   
        background-color: red
    25%  
        background-color: yellow
    50%  
        background-color: blue
    100% 
        background-color: green

@keyframes changeColor 
    0%   
        background-color: red
    25%  
        background-color: yellow
    50%  
        background-color: blue
    100% 
        background-color: green



