.content-table
    display: flex
    justify-content: center
    padding: 5%

.cdk-table
    width: 80%

.cdk-cell
    padding: 10px

.cdk-row 
    text-align: center

h1
    width: 100%
    text-align: center

.table 
	-webkit-animation: rotate 0.65s linear both
	animation: rotate 0.65s linear both

@-webkit-keyframes rotate 
    0% 
        -webkit-transform: scale(1) rotateZ(0)
        transform: scale(1) rotateZ(0)
    
    50% 
        -webkit-transform: scale(1.2) rotateZ(180deg)
        transform: scale(1.2) rotateZ(180deg)
    
    100% 
        -webkit-transform: scale(1) rotateZ(360deg)
        transform: scale(1) rotateZ(360deg)
  

@keyframes rotate-scale-up 
    0% 
        -webkit-transform: scale(1) rotateZ(0)
        transform: scale(1) rotateZ(0)
    
    50% 
        -webkit-transform: scale(1.2) rotateZ(180deg)
        transform: scale(1.2) rotateZ(180deg)
    
    100% 
        -webkit-transform: scale(1) rotateZ(360deg)
        transform: scale(1) rotateZ(360deg)
  