<h1>{{title}}</h1>
<div id="table" class="content-table">
  <table cdk-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef>Name </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container cdkColumnDef="age">
      <th cdk-header-cell *cdkHeaderCellDef> Age </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <ng-container cdkColumnDef="email">
      <th cdk-header-cell *cdkHeaderCellDef> Email </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container cdkColumnDef="gender">
      <th cdk-header-cell *cdkHeaderCellDef> Gender </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>