.sidenav-container 
    height: 100%


.sidenav 
    width: 200px
    top: 55px !important


.sidenav .mat-toolbar 
    background: inherit


.mat-toolbar.mat-primary 
    position: sticky
    top: 0
    z-index: 10


.top-menu
    position: absolute
    right: 0px


